<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ritika.e_challan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PoliceLoginActivity"
            android:label="Police Sign In" />
        <activity
            android:name=".PolicePortalActivity"
            android:label="Police Portal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="E-challan" />
        <activity
            android:name=".CommonUserPortalActivity"
            android:label="Common User Portal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminLoginActivity"
            android:label="Admin Sign In" />
        <activity
            android:name=".AdminPortalActivity"
            android:label="Admin Portal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdatePoliceActivity"
            android:label="Update Police Details" />
        <activity android:name=".PendingActivity"
            android:label="Pending Challans" />
        <activity android:name=".HistoryActivity"
            android:label="Challan History" />
        <activity android:name=".DescriptionActivity"
            android:label="Update Fine Amounts" ></activity>
    </application>

</manifest>